* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ===== Common-Style ===== */
body {
    background-color: rgb(24, 24, 24) !important;
}

main,
.section1,
.section2,
.section3,
.section4,
.section5,
.section6,
.section7 {
    border-bottom: 2px solid #1e55b6 !important;
}

.section2 h3,
.section4 h3,
.section6 h3,
.section7 h3,
.section8 h3 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
}

/* ===== Navbar-Section ===== */
.navbar {
    background-color: #1454c2c4;
    color: white;
}

.navbar-brand img {
    width: 70px;
}

/* ===== Welcome-Section ===== */
.carousel-item img {
    width: 100%;
    height: 70vh;
    filter: brightness(0.7);
}

.carousel-caption {
    font-size: 22px;
    background-color: #1454c2c4;
    color: white;
}

.carousel-caption button {
    font-size: 18px;
}

.carousel-slide1-cap {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.8rem;
    text-align: center;
    background-color: #1454c2c4;
    color: white;
}

/* ===== Programs-Section ===== */

.section2 .accordion-header button {
    font-size: 18px !important;
    letter-spacing: 1px !important;
}

.section2 .accordion-body button {
    padding: 3px 12px;
    background-color: rgb(13, 110, 253);
    border: 1px solid #cbcfd8;
    color: rgb(230, 224, 224);
    border-radius: 8px;
}

.section2 .btn:hover {
    background-color: #9da2ab !important;
    color: #1e55b6 !important;
    border-color: #1e55b6;
}

/* ===== Views-Sections ===== */

.section3,
.section5 {
    width: 100%;
    height: 200px;
    position: relative;
}

.section3 .container-fluid,
.section5 .container-fluid {
    padding: 0;
}

.s3-overlay,
.s5-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1454c21c;
    border-radius: 10px;

}

.s3-container,
.s5-container {
    position: relative;
    width: 100%;
    height: 200px;
    background-attachment: fixed;
    background-size: cover;
    border-bottom: 2px solid #1e55b6;
    background-repeat: no-repeat;
    /* background-position: center; */
}

.s3-container {
    background-image: url(../images/brett-jordan-U2q73PfHFpM-unsplash.jpg);
    filter: brightness(0.7);
}

.s5-container {
    background-image: url(../images/sven-mieke-Lx_GDv7VA9M-unsplash.jpg);
    filter: brightness(0.7);
}

/* ===== Programs-Section ===== */

.classes>section {
    box-shadow: 0 2px 6px 2px rgba(130, 130, 130, 0.5), 0 2px 6px 2px rgba(130, 130, 130, 0.5);
    margin-bottom: 1.5rem;
}

.class-item .class-item-image {
    flex-basis: 100%;
}

.class-item-image img {
    width: 100%;
    height: 100%;
}

.class-item:nth-of-type(odd) figure img {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%);
    border-radius: 0px 17px 17px 0px;
}

.class-item:nth-of-type(even) figure img {
    clip-path: polygon(0 0, 100% 0%, 88% 100%, 0 100%);
    border-radius: 17px 0px 0px 17px;
}

.class-item-info h2 {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.class-item {
    transition: 0.5s;
}

.class-item:hover {
    transform: scale(1.05, 1.05);
}

.class-item-options {
    display: flex;
    align-items: center;
}

.class-item-options button {
    margin-right: 20px;
}


@media (max-width: 767px) {
    .class-item {
        flex-direction: column;
    }

    .class-item figure {
        order: -1;
    }

    .class-item .class-item-image {
        flex-basis: 40%;
    }

    .class-item:nth-of-type(odd) figure img,
    .class-item:nth-of-type(even) figure img {
        clip-path: none;
        border-radius: 17px 17px 0px 0px;
    }

    .class-item-options {
        flex-direction: column;
    }

    .class-item-options button {
        margin-right: 0px;
        margin-bottom: 20px;
    }
}

/* ===== Coaches-Section ===== */

.coach-item {
    position: relative;
    transition: 0.5s;
}

.coach-item .card-img-top {
    width: 99%;
    margin: auto;
}


.coach-item::before,
.coach-item::after {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border: none;
    border-radius: 15px;
    transition: 0.7s;
}

.coach-item::before {
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
}

.coach-item::after {
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 0;
    right: 0;
}

.coach-item:hover::before,
.coach-item:hover::after {
    width: 100%;
    height: 100%;
}

/*
.coach-item img {
    height: 40%;
} */


.coach-item button:hover {
    background-color: rgba(255, 255, 255, 0.716) !important;
    color: black !important;
    transition: 1s;
}

.coach-item-content {
    z-index: 10;
}

/* ===== last-Section ===== */

.section7 .row div {
    border: 10px solid rgb(24, 24, 24);
    transition: 0.5s
}

.section7 .row div:hover {
    transform: translateY(-5px);
}

.section7 a {
text-decoration: none;
color: white;
}

.section8 .contact {
    transition: 0.5s;
}

.section8 .contact:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 6px 2px rgba(130, 130, 130, 0.5), 0 2px 6px 2px rgba(130, 130, 130, 0.5);

}

/* ===== section8 ===== */

.section8 .card {
    width: 100%;
    padding: 80px 50px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2)
}

.section8 .card h3 {
    margin-bottom: 50px;
    border-left: 3px solid black;
    padding-left: 10px;
    line-height: 1em
}

.section8 .inputbox {
    margin-bottom: 50px;
    position: relative;
}

.section8 .inputbox input {
    position: absolute;
    width: 100%;
    background: transparent
}

.section8 .inputbox input:focus {
    outline: 0;
    box-shadow: none
}

.section8 .inputbox span {
    position: relative;
    top: 7px;
    left: 1px;
    padding: 0 10px;
    display: inline-block;
    transition: 0.5s
}

.section8 .inputbox input:focus~span {
    transform: translateX(-10px) translateY(-32px);
    font-size: 15px
}

.section8 .inputbox input:valid~span {
    transform: translateX(-10px) translateY(-32px);
    font-size: 15px
}

.section8 #btn {
    position: relative;
    height: 40px;
}

.section8 #btn a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section8 #btn a button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {

    .container {
        width: 90%;
        margin: auto;
    }

    article:nth-of-type(6) .card {
        height: 60vh;
    }

}